.right{
    display:flex;
    align-items: center;

}

.contact_info{
    margin-right:20px;
    margin-left:40px;
    font-size: 24px;
}

img.contact-img {
    max-width: 400px;
    object-fit: contain;
}